$rose:#FFD4DB;
$purple: #e5b2ff;
$graywhite: #EFF1DB;
$blue: #BBE7FE;
$black: #302d2d;
.App {
    text-align: center;
    width: 100%;
}

.App-header {
    height: 100px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $graywhite;
    background-color: $purple;
    text-shadow: 2px 2px $black;
    font-family: cursive;
}

.avatars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .pic {
        width: 30%;
        margin: 3px;
        background-color: $graywhite;
        border: 1px solid $blue;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $blue;
        font-weight: 700;
        img {
            width: 170px;
            height: 180px;
            border-radius: 50%;
            opacity: 0.6;
            border: 5px solid $rose;
        }
        span {
            width: 100px;
            font-size: 1em;
            text-shadow: 2px 2px $black;
            font-family: cursive;
        }
    }
}

.disabled {
    transform: scale(3, 3) translate(5%, 5%);
    opacity: 1;
    z-index: 1;
}